include README.rst
include LICENSE
include requirements.txt
recursive-include ckanext/rdkit_visuals *.html *.json *.js *.less *.css *.mo *.yml *.jpg *.png
recursive-include ckanext/rdkit_visuals/migration *.ini *.py *.mako
