{% ckan_extends %}


{% block package_notes %}
  {{ super() }}
  {% if pkg_dict.get('inchi_key') %}
    {% snippet "snippets/ckanext_rdkit_visuals_rdkit_visuals.html", pkg = pkg_dict %}
  {% else %}
    <section class="chemical-info">
  <h3>{{ _('Chemical Info') }}</h3>
    <table class="table">
         <tbody>
         {% if pkg_dict.inchi %}
           <tr>
            <th width="25%" scope="row" class="dataset-label">{{ _("InChI") }}</th>
            <td  width="50%" class="dataset-details">{{ pkg_dict.inchi }}</td>
           </tr>
         {% endif %}
         </tbody>
    </table>
    </section>
  {% endif %}
{% endblock %}


{% block package_additional_info %}

    {% snippet "snippets/ckanext_rdkit_visuals_related_identifier.html", pkg = pkg %}

    {{ super() }}

{% endblock %}